<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="simple chat">    
    <title>Simple Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="app/style.css" rel="stylesheet">


</head>
<body ng-app="app">

<br/>

<div class="container" ng-controller="ChatController">
    <div class="text-center text-primary"><h2>Simple Chat</h2></div> <br/>

    <div class="row">
        <form id="login-form" ng-submit="submitLogin()" class="form-control text-center">
            <h4>Please enter your name to chat!</h4> <br/>
            <div class="form-group input-group col-sm-12 col-md-6 offset-md-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" type="text" id="loginUser" ng-model="loginUser" placeholder="Enter your name"/>
            </div>
            <div class="form-group col-sm-12 col-md-6 offset-md-3">
                <button type="submit button" class="btn btn-primary form-control">Login</button>
            </div>
        </form>
    </div>

    <div class="card" id="chat-container" style="display: none">
        <div class="card-header card-primary card-inverse">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <strong class="text-white">You are: <span id="onlineUserName" class="badge badge-info"></span></strong>
                    <div class="text-white" id="isTyping" style="display:none;">&nbsp;<i class="fa fa-pencil"></i>&nbsp;<small><span id="loginUserName"></span> is typing...</small></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right text-white">
                    Online: <span id="totalConnectedUsers" class="badge badge-info"></span>
                </div>
            </div>
        </div>
        <div class="card-block messages-bg">
            <ul id="messages"></ul>
        </div>
        <div class="card-footer">
            <form id="chat-form" ng-submit="submitChat()">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-message">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <input type="text" id="message" ng-model="message" ng-keypress="sendmessage($event)" autocomplete="off" class="form-control" placeholder="Write your message here..." aria-describedby="basic-addon-message">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <button class="btn btn-primary form-control" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="socket/dist/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

<script type="text/javascript" src="app/app.js"></script>

</body>
</html>
